.not-found {
  text-align: center;
  margin-top: 100px;
}

.not-found h1 {
  font-size: 80px;
  color: #6ba83e;
}

.not-found h2 {
  font-size: 30px;
  margin: 20px 0;
}

.not-found p {
  font-size: 18px;
  margin: 20px 0;
}

.not-found a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6ba83e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.not-found a:hover {
  background-color: #5a9133;
}